@{
    ViewData["Title"] = "Home Page";
}




<h2>
    @ViewBag.list
</h2>


<h1>Datos del Dispositivo</h1>
<p>User-Agent: @ViewBag.UserAgent</p>
<br />
<p>IP Address: @ViewBag.IPAddress</p>
<br />
<p>Port: @ViewBag.Port</p>
<br />
<p>Connection Id: @ViewBag.CnId</p>



